<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/forms.css">
</head>
<body>
    <div class="container">
        <h2>Create an Account</h2>
        <form action="/user/signup" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <label for="string"></label>
            <button>Sign Up</button>
        </form>
    </div>
</body>
</html>