<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <style>
        h1 {
            font-family: 'Courier New', Courier, monospace;
            font-size: 80px;
        }
    </style>
</head>
<body>
    <h1>There must be an error</h1>
</body>
</html>