<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h6>Welcome back,</h6>
    <br>
    <h1>Day 12</h1>
    <br class="line">
</body>
</html>