<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/note.css">
    <title>Journal Day</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <!-- Left side for the day -->
        <div class="left">
            <h3 id="day-header" class="p-10">Day <span id="dayNo"></span>: <span id="dayNameText"></span></h3>
            <p id="text-viewed" class="p-10"></p>
        </div>
        
        <!-- Right side for the forms -->
        <div class="right">
            <form id="day-form">
                <label for="day-name">Name your day (highlight):</label>
                <input type="text" id="day-name" name="day-name">
                <label for="note">Note:</label>
                <textarea id="note" name="note"></textarea>
            </form>
        </div>
    </div>

    <script src="/JS/index.js"></script>
</body>
</html>
