<%- layout("layouts/boilerplate") %>
<div class="container">
  <!-- Left side for the day -->
  <div class="left">
    <h3 id="day-header" class="p-10">
      Day <span id="day-display"></span>: <span id="dayNameText"></span>
    </h3>
    <p id="text-viewed" class="p-10"></p>
  </div>

  <!-- Right side for the forms -->
  <div class="right">
    <form id="day-form">
      <label for="day-name">Name your day (highlight):</label>
      <input type="text" id="day-name" name="day-name" />
      <label for="note">Note:</label>
      <textarea id="note" name="note"></textarea>
      <button class="btn">Save</button>
    </form>
  </div>
</div>
