<%- layout("layouts/boilerplate") %>
<body>
  <div class="container">
    <h3 id="day-header" class="p-10">
      Day <span id="day-display"></span>: <span id="dayNameText"></span>
    </h3>
    <p id="text-viewed" class="p-10">This is the view note page</p>
  </div>
</body>
